<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.simposio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.RicoPaRico">
        <activity
            android:name=".ui.ActividadPrincipal"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConNavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActividadConfiguracion"
            android:label="@string/titulo_actividad_configuracion"
            android:parentActivityName=".ui.ActividadPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.simposio.ui.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".activities.CategoriaTecnologia"
            android:label="@string/tech"
            android:parentActivityName=".ui.ActividadPrincipal" />
        <activity
            android:name=".activities.ActividadesTechDiauno"
            android:label="@string/dia1"
            android:parentActivityName=".activities.CategoriaTecnologia" />
        <activity
            android:name=".activities.DetailDiaDos"
            android:label="@string/dia2"
            android:parentActivityName=".activities.CategoriaTecnologia">

        </activity>
        <activity
            android:name=".activities.DetailDiaTres"
            android:label="@string/dia3"
            android:parentActivityName=".activities.CategoriaTecnologia">

        </activity>
        <activity
            android:name=".activities.CategoriaSalud"
            android:label="@string/salud"
            android:parentActivityName=".ui.ActividadPrincipal">

        </activity>
        <activity android:name=".activities.CategoriaBio" android:label="@string/bio" android:parentActivityName=".ui.ActividadPrincipal">

        </activity>
    </application>

</manifest>